.intro-text {
  width: 50%;
  margin: auto;
  text-align: center;
  /* background; */
}

#profile-picture {
  width: 30%;
  margin: auto;
  border-radius: 10rem;
}

.top-profile-container {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 2em;
}

.middle-container {
  padding: 1em;
  width: 90%;
  margin: auto;
  height: 50%;
}

.card {
  border: solid purple;
  border-radius: 1em;
  overflow: hidden;
}
.card img {
  height: 50%;
}