.color1 {color: #0c358e;}
.color2 {color: #0877c7;}
.color3 {color: #6dc0fd;}
.color4 {color: #d8fcf6;}
.color5 {color: #fffbf4;}
.color1 {color: #140e19;}
.color2 {color: #0e3a58;}
.color3 {color: #0975a6;}
.color4 {color: #03bbfc;}
.color5 {color: #0efff9;}

body {
  background-image: url("../images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Oxygen', sans-serif;
}
/* NAVBAR */
.navigationbar {
  background-color: rgba(137, 87, 254, 0.4);
  overflow: hidden;
  margin-bottom: 1em;
  position: sticky; top:0; 
}
.navigationbar ul li {
  
  list-style-type: none;
  float: right;
  text-decoration: none;
  background-color:rgba(172, 230, 255,0.8);
  padding: .5em 0.5em;
  margin: .5em;
  border-radius: .3em;
}

.navigationbar ul li a {
  font-weight: bolder;
  color:#4c3cfa;
  font-size: 1.5em;
  padding: none;
}

.navigationbar ul li:hover{
  
  list-style-type: none;
  float: right;
  background-color: rgb(255, 255, 255);
  padding: .5em 0.5em;;
  margin: .5em;
  border-radius: .3em;
  /* color: blue;
  
  BUG: can't get text to change to blue when hover over li item

  */
}

/* JUMBOTRON CONTAINER */

.intro-text {
  width: 50%;
  margin: auto;
  text-align: center;
  border: solid purple;
  background-color:rgba(172, 230, 255, 0.6);
  border-radius: .5em;
}

/* PROFILE CONTAINER */

.top-profile-container {
  width: 50%;
  margin: 1em auto;
  text-align: center;
  border: solid purple;
  border-radius: .5em;
  background-color:rgba(172, 230, 255, 0.6);
}

.profile-container {
  padding: 1em;
  background-color: rgb(249, 229, 194);
  margin: 1.5em;
  border-radius: .7em;
  font-size: 1.3em;
}

#profile-picture {
  width: 30%;
  margin: auto;
  border-radius: 10rem;
  padding-bottom: 0.5em;
}

/* MIDDLE PROJECTS CONTAINER */

.middle-container {
  padding: 1em;
  width: 90%;
  margin: auto;
  height: 50%;

  border: solid purple;
  border-radius: .5em;
  background-color:rgba(172, 230, 255, 0.6);
}

.projectcard {
  margin: none;
  padding: none;
}

.card {
  border-radius: 1em;
  overflow: hidden;
  height: 100%;
  margin: none;
  padding: none;
  border: outset;
  border-width: thick;
  background-color:rgb(188, 184, 255);
  color:rgb(1, 31, 255);
}

.card-img {
  height: 50%;
  
}

.card-title {
  text-align: center;
  font-weight: bolder;
}

.card-text {
  text-align: center;
}

#beatles-text {
  margin-bottom: 2em;
}

.cardlist {
  width: 60%;
  margin: auto;
}
.btn-primary {
  width: 100%;
  margin: auto;
}

/* BOTTOM CONTAINER */

.bottom-container {
  padding: 1em;
  width: 90%;
  margin: 1em auto;
  height: 50%;
  border: solid purple;
  border-radius: .5em;
  background-color:rgba(172, 230, 255, 0.6);
}
#About-title {
  text-decoration: underline;
}
.blockquote-footer {
  font-size: 1em;
  color: rgb(29, 29, 29);
}

.education {
  display: inline;
  float: left;
  margin-right: 2em;
}
